<div class="max-w-4xl mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Edit Municipe</h1>
  <%= render 'form', municipe: @municipe %>
</div>
<div class="max-w-4xl mx-auto px-4 py-8">
  <%= link_to "Show this municipe", @municipe %> |
  <%= link_to "Back to municipes", municipes_path %>
</div>
